{% extends 'base.html' %}
{% block content %}


    <div class="col s6">
        <div class="card">
            <div id="meal-type-detail" class="card-content">
                <span id="meal-detail-title" class="card-title">{{ meal.get_meal_type_display }}</span>
                <p>Date: {{ meal.date }}</p>
                <p>Totals: </p>
            </div>
            <div class="card-action">
                <a id="edit-delete" class="dotted" href="{% url 'meals_update' meal.id %}" style= "color: #F73152">Edit</a>
                <a class="dotted" href="{% url 'meals_delete' meal.id %}" style= "color: #F73152">Delete</a>
            </div>
            <div class="row">
                <div class="col s6">
                    <h5>{{ meal.name }} Foods</h5>
                    {% if meal.foods.count %}
                    {% for food in meal.foods.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                {{ food.name }}
                            </span>
                        </div>
                        <div class="card-action">
                            <form action="{% url 'unassoc_food' meal.id food.id%}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn">Remove</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5>No Foods </h5>
                    {% endif %}
                </div>
                <div class="col s6">
                    <h5>Available Foods</h5>
                    {% if foods.count %}
                    {% for food in foods.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                {{ food.name }}
                            </span>
                        </div>
                        <div class="card-action">
                            <form action="{% url 'assoc_food' meal.id food.id%}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn">Add</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5> No Foods Available</h5>
                    {% endif %}
                </div>
            </div>
            {% endblock %}