{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <p>{%for i in data.items%}</p>
                <span class="card-title">{{ i.name }}</span>
                <p>Calories: {{ i.calories }}</p>
                <p>Total Fat: {{i.fat_total_g}}</p>
                <p>Protein: {{i.protein_g}}</p>
                <p>Total Carbs: {{i.carbohydrates_total_g}}</p>

                {% endfor %}
            </div>
            <div class="card-action">

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}