{% extends 'base.html' %}

{% block content %}
<h1>Delete Food</h1>

<h4>Are you sure you want to delete <span style="color: #F73152">{{ object.name }}</span>?</h4>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn" onmouseover="this.style.color='#DBD0CF'"
        onmouseout="this.style.color='white'" style="background-color: #fa475d">
    <a href="{% url 'foods_index' %}" onmouseover="this.style.color='#DBD0CF'" onmouseout="this.style.color='#FA475D'"
        style="color: #fa475d">Cancel</a>
</form>
{% endblock %}