{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <p>{%for food in food_list%}</p>
                <span class="card-title">{{ food.name }}</span>
                <p>Calories: {{food.total_calories }}</p>
                <p>Total Fat: {{food.total_fat}}</p>
                <p>Protein: {{food.total_protein}}</p>
                <p>Total Carbs: {{food.total_carbs}}</p>

                {% endfor %}
            </div>
            <div class="card-action">

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}