{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Food</h1>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <p>Name: <input type="text" value="{{data.name}}"></p>
    <p>Calories: <input type="text" value="{{data.calories}}"></p>
    <p>Fat: <input type="text" value="{{data.fat_total_g}}"></p>
    <p>Protein: <input type="text" value="{{data.protein_g}}"></p>
    <p>Carbs: <input type="text" value="{{data.carbohydrates_total_g}}"></p>

    <input type='submit' value="Add Food" class="btn" style="background-color: #fa475d"></input></a>
</form>
{% endblock %}