{% extends "base.html" %}
{% block content %}


<h1>Food List</h1>

{%for food in food_list%}
<div class="card">
    <div class="card-content">
        <span id="food-title" class=“card-title”
            style="font-weight: 600; font-size: 25px; text-transform: uppercase; ">{{ food.name }}</span>
        <p>Calories: {{food.total_calories }}</p>
        <p>Total Fat: {{food.total_fat}}</p>
        <p>Protein: {{food.total_protein}}</p>
        <p>Total Carbs: {{food.total_carbs}}</p>
    </div>
    <div class="card-action">
        <a class="dotted" href="{% url 'food_update' food.id %}" onmouseover="this.style.color='#DBD0CF'"
            onmouseout="this.style.color='#FA475D'" style="color: #F73152">Edit</a>
        <a class="dotted" href="{% url 'food_delete' food.id %}" onmouseover="this.style.color='#DBD0CF'"
            onmouseout="this.style.color='#FA475D'" style="color: #F73152">Delete</a>
    </div>
</div>

{% endfor %}
{% endblock %}