{% extends 'base.html' %}

{% block content %}
<h1>About Onederland</h1>
<hr />
<p class="about">Track your progress on your journey to Onederland!</p>
<p class="about-p">Onederland is named after the weight loss term coined to indicate someone has reached a weight that
    starts with a 1 (199 or less). The goal of Onederland is to provide a user with a quick and simple way to track food
    intake throughout the day and provide them with useful and actionable information so the user can make the best food
    choices for their journey. Onederland cuts out a lot of the non essential information and provides the basics back
    to the user. Their daily stats including total calories consumed, total fat intake, total protein intake, and total
    carb intake will be displayed on the home page.</p>
{% endblock %}