{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Onederland</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href=" /" class="left brand-logo" style="color: #513f43">&nbsp;&nbsp;Onederland</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}" style="color: #513f43">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'meals_index' %}" style="color: #513f43">Meals</a></li>
                    <li><a href="{% url 'meals_create' %}" style="color: #513f43">Add Meals</a></li>
                    <li><a href="{% url 'foods_index' %}" style="color: #513f43">Foods</a></li>
                    <li><a href="{% url 'foods_search' %}" style="color: #513f43">Add Food</a></li>

                    <li><a href="{% url 'logout' %}" style="color: #513f43">Log Out</a></li>


                    {% else %}
                    <li><a href="{% url 'signup' %}" style="color: #513f43">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" style="color: #513f43">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="center">All Rights Reserved, &copy; 2023 Onederland &nbsp;</div>
    </footer>
</body>

</html>