{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<h1 class="welcome">Track Stats {{user_name}}</h1>



<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p id="cals">Total Calories: {{total_calories}}</p>
        <p id="fat">Total Fat: {{total_fat}}</p>
        <p id="protein">Total Protein: {{total_protein}}</p>
        <p id="carbs">Total Carbs: {{total_carbs}}</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    {% for meal in meal_entries_B%}
    <span class="card-title" style="text-align: center">{{ meal.get_meal_type_display }}</span>
    <div class="meal-stats">
      {% for queryset in food_name_B %}
      {% for food_name in queryset %}
      <div class="food-name" style="text-align: center; text-transform: capitalize; font-size: 20px">
        <h8>{{ food_name }}</h8>
      </div>
      {%endfor%}
      {%endfor%}
    </div>
    <br>
    <div class="totals">
      <p>Total Calories: {{total_calories_B}}</p>
      <p>Total Fat: {{total_fat_B}}</p>
      <p>Total Protein: {{total_protein_B}}</p>
      <p>Total Carbs: {{total_carbs_B}}</p>
    </div>

    <div class="card-action">
      <a id="edit-delete" class="dotted" href="{% url 'detail' meal.id %}" onmouseover="this.style.color='#DBD0CF'"
        onmouseout="this.style.color='#FA475D'" style="color: #F73152">Edit</a>
    </div>
    {%endfor%}
  </div>
</div>

<div class="card">
  <div class="card-content">
    {% for meal in meal_entries_L%}
    <span class="card-title" style="text-align: center">{{ meal.get_meal_type_display }}</span>
    <div class="meal-stats">
      {% for queryset in food_name_L %}
      {% for food_name in queryset %}
      <div class="food-name" style="text-align: center; text-transform: capitalize; font-size: 20px">
        <h8>{{ food_name }}</h8>
      </div>
      {%endfor%}
      {%endfor%}
    </div>
    <br>
    <div class="totals">
      <p>Total Calories: {{total_calories_L}}</p>
      <p>Total Fat: {{total_fat_L}}</p>
      <p>Total Protein: {{total_protein_L}}</p>
      <p>Total Carbs: {{total_carbs_L}}</p>
    </div>

    <div class="card-action">
      <a id="edit-delete" class="dotted" href="{% url 'detail' meal.id %}" onmouseover="this.style.color='#DBD0CF'"
        onmouseout="this.style.color='#FA475D'" style="color: #F73152">Edit</a>

    </div>
    {%endfor%}
  </div>
</div>

<div class="card">
  <div class="card-content">
    {% for meal in meal_entries_D%}
    <span class="card-title" style="text-align: center">{{ meal.get_meal_type_display }}</span>
    <div class="meal-stats">
      {% for queryset in food_name_D %}
      {% for food_name in queryset %}
      <div class="food-name" style="text-align: center; text-transform: capitalize; font-size: 20px">
        <h8>{{ food_name }}</h8>
      </div>
      {%endfor%}
      {%endfor%}
    </div>
    <br>
    <div class="totals">
      <p>Total Calories: {{total_calories_D}}</p>
      <p>Total Fat: {{total_fat_D}}</p>
      <p>Total Protein: {{total_protein_D}}</p>
      <p>Total Carbs: {{total_carbs_D}}</p>
    </div>
    <div class="card-action">
      <a id="edit-delete" class="dotted" href="{% url 'detail' meal.id %}" onmouseover="this.style.color='#DBD0CF'"
        onmouseout="this.style.color='#FA475D'" style="color: #F73152">Edit</a>
    </div>
    {%endfor%}
  </div>
</div>
{% else %}
<p class="summary">Track your progress with Onederland. <br>
  Your one stop shop for food and <br>
  health goal analytics</p>
<a class="dotted" href="{% url 'about' %}">Learn more</a>
{% endif %}
{% endblock %}