{% extends 'base.html' %}

{% block content %}
<h1>Welcome {{user.name}}</h1>


<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Total Calories: {{total_calories}}</p>
        <p>Total Fat: {{total_fat}}</p>
        <p>Total Protein: {{total_protein}}</p>
        <p>Total Carbs: {{total_carbs}}</p>
      </div>
    </div>
  </div>
</div>


          <div class="card">
            <div class="card-content">
              {% for meal in meal_entries_B%}
              <span class="card-title">{{ meal.get_meal_type_display }}</span>
              {% for foodname in food_names%}
              <p>{{ foodname }}</p>
              <p>Total Calories: {{total_calories_B}}</p>
              <p>Total Fat: {{total_fat_B}}</p>
              <p>Total Protein: {{total_protein_B}}</p>
              <p>Total Carbs: {{total_carbs_B}}</p>
              <div class="card-action">
              </div>
              {%endfor%}
              {%endfor%}
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              {% for meal in meal_entries_L%}
              <span class="card-title">{{ meal.get_meal_type_display }}</span>
              {{food.name}}
              <p>Total Calories: {{total_calories_L}}</p>
              <p>Total Fat: {{total_fat_L}}</p>
              <p>Total Protein: {{total_protein_L}}</p>
              <p>Total Carbs: {{total_carbs_L}}</p>
            <div class="card-action">
            </div>
            {%endfor%}
            
          </div>
        </div>
            
          <div class="card">
            <div class="card-content">
              {% for meal in meal_entries_D%}
              <span class="card-title">{{ meal.get_meal_type_display }}</span>
              <p>Total Calories: {{total_calories_D}}</p>
              <p>Total Fat: {{total_fat_D}}</p>
              <p>Total Protein: {{total_protein_D}}</p>
              <p>Total Carbs: {{total_carbs_D}}</p>
            <div class="card-action">
            </div>
            {%endfor%}
          </div>

{% endblock %}