{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<h1 class="welcome">Count Calories {{user_name}}</h1>



<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p id="cals">Total Calories: {{total_calories}}</p>
        <p id="fat">Total Fat: {{total_fat}}</p>
        <p id="protein">Total Protein: {{total_protein}}</p>
        <p id="carbs">Total Carbs: {{total_carbs}}</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    {% for meal in meal_entries_B%}
    <span class="card-title">{{ meal.get_meal_type_display }}</span>
    <p>Total Fat: {{total_fat_B}}</p>
    <p>Total Protein: {{total_protein_B}}</p>
    <p>Total Carbs: {{total_carbs_B}}</p>
    {% for queryset in food_name_B %}
    {% for food_name in queryset %}
    <h8>{{ food_name }}</h8>
    <div class="card-action">
    </div>
    {%endfor%}
    {%endfor%}
    {%endfor%}
  </div>
</div>

<div class="card">
  <div class="card-content">
    {% for meal in meal_entries_L%}
    <span class="card-title">{{ meal.get_meal_type_display }}</span>
    <p>Total Calories: {{total_calories_L}}</p>
    <p>Total Fat: {{total_fat_L}}</p>
    <p>Total Protein: {{total_protein_L}}</p>
    <p>Total Carbs: {{total_carbs_L}}</p>
    {% for queryset in food_name_L %}
    {% for food_name in queryset %}
    <h8>{{ food_name }}</h8>
    <div class="card-action">
    </div>
    {%endfor%}
    {%endfor%}
    {%endfor%}
  </div>
</div>

<div class="card">
  <div class="card-content">
    {% for meal in meal_entries_D%}
    <span class="card-title">{{ meal.get_meal_type_display }}</span>
    <p>Total Calories: {{total_calories_D}}</p>
    <p>Total Fat: {{total_fat_D}}</p>
    <p>Total Protein: {{total_protein_D}}</p>
    <p>Total Carbs: {{total_carbs_D}}</p>
    <hr>
    {% for queryset in food_name_D %}
    {% for food_name in queryset %}
    <div class="foods_on_home">
      <h8>{{ food_name }}</h8>
    </div>
    <div class="card-action">
    </div>
    {%endfor%}
    {%endfor%}
    {%endfor%}
  </div>
  {% else %}
  <p class="summary">Track your progress with Onederland. <br>
    Your one stop shop for food and <br>
    health goal analytics</p>
  <a class="dotted" href="{% url 'about' %}">Learn more</a>
  {% endif %}
  {% endblock %}