<!DOCTYPE html>
<html>

<body>

    <p>The queryset object:</p>
    {{ daily_data }}

    <p>Loop through the items:</p>

    <table border='1'>
        <tr>
            <th>name</th>
            <th>total_calories</th>
            <th>total_fats</th>
            <th>total_proteins</th>
            <th>total_carbohydrates</th>
        </tr>
        {% for x in daily_data %}
        <tr>
            <td>{{ x.name}}</td>
            <td>{{ x.total_calories }}</td>
            <td>{{ x.total_fats }}</td>
            <td>{{ x.total_proteins }}</td>
            <td>{{ x.total_carbohydrates }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>